@import "tailwindcss";

@font-face {
  font-family: "Clash Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Clash-display.woff2') format('woff2');
}

@font-face {
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Clash-display-variable.woff2') format('woff2');
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Poppins-regular.woff2') format('woff2');
}



@theme {
  --font-clash-med: "Clash Display Medium", sans-serif;
  --font-clash: "Clash Display Variable", sans-serif;
  --font-poppins: "Poppins", sans-serif;  
  --color-bblue: #1A73E8;
  --color-dblue: #2C4992;
  --color-bgray: #F2F4F7;
  --color-boder: #DADCE0;
  --color-lblue: #7CDCFF;
  --color-textsec: #5F6368;
}

body {
  background: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}